.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    margin-top: 150px;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg , #fde1ff 0%, #e1ffea22 60%);
}

.offers left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1{
    color: #171717;
    font-size: 30px;
    font-weight: 600;
}

.offers left p{
    color:#171717;
    font-size: 15px;
    font-weight: 600;
}

.offers-left button{
    width: 200px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}
.offers-right img {
    margin-left: auto; /* Remove this line */
    height: 500px;
    /* margin-left: 150%; */ /* Remove or comment out this line */
    margin-right: -175%; /* Add this line to create space from the right */
    margin-top: -80%;
}
